In [33]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from nltk.corpus import stopwords
import nltk
# nltk.download('stopwords')
# nltk.download('punkt')

In [34]:
df = pd.read_csv("./data/raw_data.csv")
df

,name,brand,price,rating,search_input
0,Men Pack of 3 Solid Ankle-Length Socks,Jockey,389,4.4,Socks
1,Men 3 Ankle-Length Socks,ADIDAS,395,4.4,Socks
2,Pack Of 5 Ankle Length Socks,HRX by Hrithik Roshan,406,4.4,Socks
3,Sport Men Set of 3 Crew Socks,Jockey,479,4.5,Socks
4,Men Pack 3 Above Ankle Socks,HRX by Hrithik Roshan,232,4.5,Socks
...,...,...,...,...,...
13170,Self Design Poncho,Soch,899,4.3,Ponchos
13171,Women Green Self Design Poncho,JoE Hazel,1133,NaN,Ponchos
13172,Women Cable Knit Poncho,JoE Hazel,1382,3.9,Ponchos
13173,Women Fair Isle Poncho,JoE Hazel,1133,4.5,Ponchos
13174,Women Striped Poncho,JoE Hazel,1133,4.6,Ponchos

In [35]:
df.isna().sum()

name               0
brand              0
price              0
rating          3319
search_input       0
dtype: int64

In [36]:
df.fillna(0, inplace=True)

In [37]:
def preprocess_text(text):
    # text = re.sub(r'[^A-Za-z\s]', ' ', text)
    text = text.lower()
    tokens = text.split(' ')
    stop_words = set(stopwords.words('english'))
    filtered_tokens = (' ').join([word for word in tokens if word not in stop_words])
    return filtered_tokens

In [38]:
df["name"] = df["name"].apply(lambda x : preprocess_text(x))
df

,name,brand,price,rating,search_input
0,men pack 3 solid ankle-length socks,Jockey,389,4.4,Socks
1,men 3 ankle-length socks,ADIDAS,395,4.4,Socks
2,pack 5 ankle length socks,HRX by Hrithik Roshan,406,4.4,Socks
3,sport men set 3 crew socks,Jockey,479,4.5,Socks
4,men pack 3 ankle socks,HRX by Hrithik Roshan,232,4.5,Socks
...,...,...,...,...,...
13170,self design poncho,Soch,899,4.3,Ponchos
13171,women green self design poncho,JoE Hazel,1133,0.0,Ponchos
13172,women cable knit poncho,JoE Hazel,1382,3.9,Ponchos
13173,women fair isle poncho,JoE Hazel,1133,4.5,Ponchos
13174,women striped poncho,JoE Hazel,1133,4.6,Ponchos

In [39]:
df.to_csv("./data/preprocessed_data.csv", index=False)